h2 {
    margin-top: 20px;
    font-size: 1.2em;
}

input, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea{
    resize: none;
    min-height: 80px;
}

ul {
    list-style-type: none;
    padding: 0;
}


li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.5em; /* 글자 크기 조정 */
}
.container{
    width: 40%;
}